.ld-ribbon {
  width: 100%;
  height: 40vh;
  background-color: #009688;
  flex-shrink: 0;
}

.ld-main {
  margin-top: -35vh;
  flex-shrink: 0;
}

.ld-header .mdl-layout__header-row {
  padding-left: 40px;
}

.ld-container {
  max-width: 1600px;
  width: calc(100% - 16px);
  margin: 0 auto;
}

.ld-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 200px;
}

.ld-layout.is-small-screen .ld-content {
  padding: 40px 28px;
}

.ld-content h3 {
  margin-top: 48px;
}

.ld-footer {
  padding-left: 40px;
}

.ld-footer .mdl-mini-footer--link-list a {
  font-size: 13px;
}
ld
